extends layout

block content
    div.category
        div.topBar
            h2= category.name
            div.feature
                a(href=category.url+'/delete') 
                    span.icon.mdi--delete
                    | Delete
                a(href=category.url+'/update') 
                    span.icon.mdi--edit
                    | Update
        

        p #[strong Description:] #{category.description}
        
        h3 Category's products
        if products.length
                ul.list
                    each product, index in products
                        li 
                            a(href=product.detailUrl) #{index + 1}. #{product.name}
        else
            p This category has no products.