
extends layout

block content
    div.product
        div.topBar
            h2!= product.name
            div.feature
                a(href=product.url+'/delete') 
                    span.icon.mdi--delete
                    | Delete
                a(href=product.url+'/update') 
                    span.icon.mdi--edit
                    | Update
        div.detail
            div.image
                img(
                    src=product.imageUrl, 
                    alt=product.name, 
                    sizes="(min-width: 1000px) 300px, 600px",
                    srcset=`
                        ${product.imageUrl_300} 300w,
                        ${product.imageUrl_600} 600w,
                        ${product.imageUrl} 800w
                        `, 
                    )
            div.info
                p #[strong Category:] !{product.category.name}
                p #[strong Price:] $#{product.price}
                p #[strong Quantity:] #{product.quantity}
                p #[strong Description:] !{product.description}

